<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>查重比对</title>
</head>

<body>

<!--    <p>文件上传成功!</p>-->
<!--    <p>文件1: <b> {{name1}} </b></p>-->
<!--    <p>文件2: <b> {{name2}} </b></p>-->
<!--    <p>运行时间: <b> {{time}} </b></p>-->
<!--    <p>查重率: <b> {{dup_check}} </b></p>-->

<div class="layout-main">
	<div id="operaArea" class="layout-content content-left">
		<div>
		{% for g_id,s,e in doc1_wrap %}
			{% if g_id==-1 %}
<!--			这个是没有分组的-->
		{{doc1_str[s:e+1]}}
			{% else %}
<!--			这个是有分组的-->
			<a href="#{{g_id}}" name="clickable">{{doc1_str[s:e+1]}}</a>

			{% endif %}
<!--		<p><a href="#{{id}}" name="clickable">{{dup_text_}}</a></p>-->
		{% endfor %}</div>
	</div>
	<div id="resultArea" class="layout-content">
		{% for g_id,s,e in doc2_group_ %}
			{% if g_id==-1 %}
<!--			这个是没有分组的-->
		{{doc2_str[s:e+1]}}
			{% else %}
<!--			这个是有分组的-->
<!--			<a href="#{{g_id}}" name="clickable">{{doc2_str[s:e+1]}}</a>&ndash;&gt;-->
			<span name="{{g_id}}">{{doc2_str[s:e+1]}}</span>

			{% endif %}
		{% endfor %}

		</div>
</div>

<script>
var mainDom = document.getElementById('operaArea')
mainDom.addEventListener('click',function (e) {
	console.log(e)
	clearLeftStyle();
	var clickTarget = e.target;
	var searchTargets = null;
	var name = "";
	if (clickTarget.nodeName.toLowerCase() === "a" && clickTarget.name === "clickable"){
		name = clickTarget.hash.substring(1);
		searchTargets = document.getElementsByName(name)
		for (var i = 0; i < searchTargets.length; i++) {
			searchTargets[i].className="search-p";
		}
		document.getElementById('resultArea').scrollTop = searchTargets[0].offsetTop - 20;
	}
	handleUnline(clickTarget);
});
// 清空右边样式
function clearLeftStyle() {
	var searchDoms = document.getElementsByClassName("search-p");
	var len = searchDoms.length;
	console.log(len);
	for (var i = 0; i < len; i++) {
		searchDoms[0].classList.remove("search-p");
	}
}
// 下划线控制
function handleUnline(current) {
	var operaDoms = document.getElementsByName("clickable");
	for (var i = 0; i < operaDoms.length; i++) {
		operaDoms[i].classList.remove("active");
	}
	current.className="active";
}
</script>
<style>
.layout-main{
	width: 1000px;
	height: 600px;
}
.layout-content {
	width: 490px;
	height: 600px;
	border: 1px solid #000;
	display: inline-block;
	overflow-y: auto;
}
.content-left a{
	text-decoration: none;
}
.content-left a.active{
	text-decoration: underline;
}
.layout-main a{
	color: red;
}
.search-p {
	color: red;
}
</style>
</body>

</html>