<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>upload</title>
</head>
<body>
<!--action就是和哪个页面做交互，   method是往这个页面发东西还是请求东西-->
        <form action = "/testHtml" method = "post" enctype="multipart/form-data">
            <b>上传文件，点击check查重</b>
            <br>
            <br>
            <b><input type="file" single name="file1"></b><br>
            <br>
            <input type="file" single name="file2">
            <br>
            <br>
            <table>
                <tr>
                    <td>k-gram</td>
                    <td><input type = 'text' name = 'k_gram'></td>
                </tr>
            </table>
            <br>
            <input type = "submit" value="check">

        </form>
        <br>
        <br>
        <br>






<!--            <tr><b>任务二：NER</b></tr>-->
<!--            <tr><b>任务二：NER</b></tr>-->
<!--            <tr><b>任务二：NER</b></tr>-->
<!--            <tr><b>任务二：NER</b></tr>-->

</body>
</html>