<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


            中国水利电力物资集团有限公司
            <br>



            基于NLP的商务文本数据清洗关键技术研究
            <br>



            科技项目研究服务
            <br>



            采购合同
            <br>



            合同编号：2020CWEME0616FWCG00029CN
            <br>



            买方：中国水利电力物资集团有限公司
            <br>



            卖方：远光软件股份有限公司
            <br>



            2020年6月
            <br>



            合同生效
            <br>



            本协议在双方签字盖章后即生效。
            <br>



            本合同正本  贰  份，买方执  壹  份，卖方执  壹  份；副本陆份，买方执肆份，卖方执贰份。
            <br>



            买方：                             卖方：
            <br>



            中国水利电力物资集团有限公司       远光软件股份有限公司
            <br>



            授权代表人：                       授权代表人：
            <br>



            日期：                             日期：
            <br>



            印刷体姓名：赵明哲                 印刷体姓名：李研
            <br>



            地址：北京市石景山区银河大街       地址：广东省珠海市科技创新海岸远光软件园
            <br>



            6号院1号楼A座1402
            <br>



            邮编：100043	                     邮编：	519085
            <br>



            电话号码：010-68777664             电话号码：0756-3399666
            <br>



            传真：			                     传真：
            <br>



            E-mail：		                      E-mail：
            <br>



            开户名：中国水利电力物资集团有限公司   开户名：远光软件股份有限公司
            <br>



            开户银行：工行樱桃园支行             开户银行：工行珠海市分行营业部
            <br>



            帐号：0200000609002700631           帐号：2002020719100046777
            <br>



            定义
            <br>



            “软件”包括“软件系统”，除另有指明外，指描述于本合同附件中的在本合同履行期内所开发和提供的当前和将来的软件版本，包括卖方为履行本合同所开发和提供的软件版本和相关的文件。
            <br>



            “可交付件”指附件中指定的由卖方所交付的软件，包括安装盘、技术文档、用户指南、操作手册、安装指南和测试报告及相应交付作品等。
            <br>



            “交付”指卖方在双方规定的日期内交付约定开发的软件和交付作品的行为。但是卖方完成交付行为，并不意味着卖方已经完成了本合同项下所规定的所有义务。
            <br>



            “规格”是指在技术或其他开发任务上所设定的技术标准、规范。
            <br>



            “里程碑”是指技术规范中所规定的由卖方在本软件开发过程中阶段性完成的，并具有相对独立性的部分软件或模块。
            <br>



            “源代码”指用于该软件的源代码。其必须可为熟练的程序员理解和使用，可打印以及被机器阅读或具备其他合理而必要的形式，包括对该软件的评估、测试或其它技术文件。
            <br>



            “商业秘密”指买卖双方各自所拥有的，不为公众所知的管理信息、方式方法、顾客名单、商业数据、产品信息、销售渠道、技术诀窍、源代码、计算机文档等，或由买卖双方在履行本合同过程中明确指明为商业秘密的、法律所认可的相应保密信息。
            <br>



            “工作日”指中华人民共和国（特别行政区除外）所规定的节假日之外的所有工作日，未指明为工作日的日期指自然顺延的日期。
            <br>



            “买方”系指招标文件中的招标人，本合同中的“买方”即为“用户”。
            <br>



            “卖方”系指提供本合同项下产品和服务的公司或实体。
            <br>



            “合同”系指买方和卖方（以下简称合同双方）已达成的协议，即主合同，包括子合同及所有的附件、附录等其它文件。
            <br>



            “质量保证期”系指项目终验完成后，卖方免费为买方提供系统维护、修改等服务的期限。
            <br>



            合同标的
            <br>



            中国水利电力物资集团有限公司基于NLP的商务文本数据清洗关键技术研究实施、优化及相关服务。
            <br>



            1、文本数据挖掘关键理论与技术研究
            <br>



            （1）基于机器学习的海量文档预处理方法研究
            <br>



            （2）文本分类与聚类方法研究
            <br>



            （3）基于机器学习的文本信息抽取方法研究
            <br>



            （4）基于知识图谱的文档知识存储和推理研究
            <br>



            2、商务文本数据清洗原型系统开发
            <br>



            （1）实现商务文档的清洗、分析功能。提供对文本的词频、词云分析，且提供至少两种以上算法供选择，并能比较不同算法的效果；能自动生成文本的结构树、摘要；提供核心词汇的权值分布分析功能。
            <br>



            （2）商务文件内容的关联查询。通过知识图谱技术的应用，实现文本内容的关联查询，即自动将相关信息推荐给用户。
            <br>



            3、商务文本数据挖掘原型系统实证测试
            <br>



            商务文本数据挖掘原型系统实证测试：基于物资公司的商务文本数据对原型系统进行实证测试。
            <br>



            4、研究成果交付
            <br>



            （1）项目形成的研究报告
            <br>



            基于NLP的商务文本数据清洗关键技术研究报告
            <br>



            （2）项目形成的论文（级别、数量、时间）
            <br>



            项目研究周期内发表学术论文不低于1篇(EI检索或中文核心)
            <br>



            （3）项目形成的专利（级别、数量、时间）
            <br>



            项目研究周期内申请国家发明专利不少于1项
            <br>



            （4）项目形成的原型系统
            <br>



            开发基于NLP的商务文本数据清洗原型系统，技术成熟度达到TRL4。
            <br>



            （5）项目形成的测试报告
            <br>



            原型系统的测试报告
            <br>



            （6）项目研究过程中形成的其他技术文档
            <br>



            其他包括但不限于系统概要设计、详细设计、汇报材料和测试报告等相关文档材料。
            <br>



            使用授权
            <br>



            卖方针对合同标的提供的所有产品，对买方均应有合法的使用授权。
            <br>



            合同标的总体要求
            <br>



            1）卖方应保证其提供的中国水利电力物资集团有限公司基于NLP的商务文本数据清洗关键技术研究完全符合招标文件、合同规定的质量、功能和性能及研究成果的要求，保证所提供的系统经正确安装、正常使用和维护，在其质量保证期内应具有满意的性能。在规定的系统质量保证期内，投标方应对由于其设计和实施等过程存在的缺陷而造成的任何缺陷或故障负责。
            <br>



            2）关于中国水利电力物资集团有限公司基于NLP的商务文本数据清洗关键技术研究的建设要求、功能要求、性能要求、技术要求、项目建设期的管理要求、验收要求、培训要求、技术支持和售后服务、培训要求等具体要求，要符合标书第五章第一部分系统实施技术规范。
            <br>



            3）本项目的定位为物资集团的基于NLP的商务文本数据清洗关键技术研究，整体设计需要从全局角度出发，系统架构具有扩展性，应满足未来新建信息系统的数据接入以及提供接口。
            <br>



            4）系统构架、采用技术、选用平台方面都必须要有较好的开放性，要遵循国际标准化组织的技术标准，选定的产品既有自己独特优势，又能与其他多家优秀的产品进行集成，共同构成一个开放的、易扩充的、稳定的、统一软件的系统。
            <br>



            5）硬件架构设计具有易扩展性，随时可以根据平台使用情况增加硬件设备，满足系统性能需求。
            <br>



            6）作为科技项目研究，形成的成果要有较强的创新性、先进性，能够在集团系统内进行推广应用，卖方要积极配合买方申报集团公司、行业科技奖励。
            <br>



            交付时间、地点
            <br>



            6.1中国水利电力物资集团有限公司基于NLP的商务文本数据清洗关键技术研究实施项目建设工期要求
            <br>



            中国水利电力物资集团有限公司基于NLP的商务文本数据清洗关键技术研究实施应于2020年12月15日前达到合同和技术规范书的整体要求，具备科技项目结题条件，完成中国水利电力物资集团有限公司基于NLP的商务文本数据清洗关键技术研究的研发和培训等工作。
            <br>



            投标方必须根据上述整体进度要求，制定具体的实施计划，根据项目研究进度，时间如需调整，双方另行协商。
            <br>



            6.2 交付地点
            <br>



            1）中国水利电力物资集团有限公司
            <br>



            2）卖方在整体安装之前应与买方联系，得到同意后方可进行安装和调试；在正式安装之前三天，投标方应以电话或邮件的方式通知买方并履行买方相关审批程序。
            <br>



            质量保证期
            <br>



            中国水利电力物资集团有限公司基于NLP的商务文本数据清洗关键技术研究质量保证期为12个月，质保期从最终验收报告签署后起算。
            <br>



            质量保证期内的服务见第一部分系统实施技术规范。
            <br>



            系统升级保证
            <br>



            在买方同意的情况下，无需再重新签署合同，卖方承诺在质量保证期结束后，系统扩充、升级给予买方不高于本合同中的价格提供相应的服务。
            <br>



            知识产权及使用权
            <br>



            买方拥有交付作品中已被工作说明书确认为“客户作品”的著作权。卖方非经买方同意，不得以任何方式向第三方披露、转让和许可有关的客户作品。卖方有义务协助买方就著作权的申请事项，提供必要的技术和商务支持，除本研发工作需要之外，未得到买方书面许可，卖方不得以任何方式商业性地利用上述客户作品。如卖方违反本条的规定，应按本合同约定赔偿买方的损失。
            <br>



            已有作品——对于在签署本协议前或在本项目范围外由卖方或其关联公司创作或被许可给卖方或其关联公司的任何作品或软件（无论是书面形式还是机器可读形式）以及对其所作的任何后续修改（“已有作品”），其著作权和其他知识产权仍属于卖方或其关联公司或第三方。只要已有作品构成任何交付作品的一部分，买方拥有根据下述规定使用此类已有作品的许可。
            <br>



            其它交付作品——对于工作说明书中未确认为客户作品的所有交付作品和根据本协议由卖方或代表卖方的第三方单独创作或由双方共同创作的所有其它作品或软件（“其它交付作品”），卖方或第三方拥有其著作权。买方拥有使用此类其它交付作品（和任何构成客户作品一部分的已有作品）的非专有的、不可转让的永久许可，供买方和其关联公司内部使用，且仅用于它们被交付使用的目的。买方不得向任何第三方提供任何此类其它交付作品（或任何构成客户作品一部分的已有作品）、或其副本。工作说明书中未确认为客户作品或其它交付作品的任何交付作品均被视为其它交付作品。
            <br>



            本合同项下双方的任何权利和义务不因合同双方发生收购、兼并、重组、分立而发生变化。如发生上述情形之一，经对方同意后，本合同项下的权利和义务随之转移至收购、兼并、重组或分立之单位。如买卖双方在本合同项下的各项权利和义务由买卖双方之分立单位分别承受的，经对方同意后，则买卖双方与买卖双方之分立单位分别享有和承担相关权利和义务。
            <br>



            5）项目中产生的科技项目成果和专利知识产权归买方所有。
            <br>



            保密
            <br>



            双方应该承担保密义务，以签订的保密协议(见附件1)为准。
            <br>



            价格与付款方式
            <br>



            11.1价格
            <br>



            本合同固定总价为：￥970000元，大写金额：人民币玖拾柒万圆整。
            <br>



            11.2付款方式
            <br>



            依据本合同，由买方支付给卖方；买方有责任与义务确保款项的按时支付。
            <br>



            付款——卖方将按照支付方式中的付款条件开具付款通知。应付款项在买方指定的付款单位收到合法付款通知与增值税专用发票，且验收无误后，予以支付。
            <br>



            保证与免责
            <br>



            12.1卖方保证
            <br>



            12.1.1法人地位
            <br>



            卖方是一家依据中国法律设立，合法经营并具有良好信誉的公司。具有合法的权利能力签署和履行本合同项下的义务。
            <br>



            12.1.2 利益冲突
            <br>



            卖方签署和履行本合同或与本合同相关的文件将不会
            <br>



            1）与卖方的章程或其他适用于卖方的法律法规或判决相冲突；
            <br>



            2）与卖方同第三方所签署的任何法律文件如保证协议、承诺、合同等规定的义务相冲突或导致任何违约，或使卖方的权利受到约束。
            <br>



            12.1.3义务和许可权
            <br>



            卖方履行本合同项下的义务。拥有合法授予买方使用相应交付作品的许可权。
            <br>



            12.1.4侵权与被诉
            <br>



            1）如第三方声称卖方提供给买方的交付作品侵犯该方的专利或著作权，卖方将自费就上述权利主张为买方辩护，并支付法院最终裁定的或经卖方同意的和解中包括的一切费用、损害赔偿金和律师费。
            <br>



            2)如果他人已提出或看来很可能提出上述权利主张，买方同意准许卖方为买方继续使用交付作品取得授权，或修改交付作品，或以至少功能上相等的交付作品替换。如果卖方认为无法合理提供上述可供选择的做法，买方同意在卖方书面要求时退回交付作品，卖方则会给予买方就交付作品的创作支付给卖方的金额。
            <br>



            以上为卖方就侵权指控须对买方承担的全部义务。
            <br>



            12.1.5 合法软件
            <br>



            卖方所开发的软件必须符合国家有关软件产品方面的规定和软件标准规范。
            <br>



            12.1.6 系统妨碍
            <br>



            在卖方所交付的软件系统中，在交付时不含任何已知的可以自动终止或妨碍系统运作的软件或程序。
            <br>



            12.1.7 使用软件
            <br>



            如卖方所交付和许可买方使用的卖方拥有知识产权的软件，需经国家有关部门登记、备案、审批或许可的，卖方应保证所提供的软件已完成了上述手续。
            <br>



            12.2  买方保证
            <br>



            12.2.1法人地位
            <br>



            买方具有合法的权利缔结本合同。一家依据中国法律设立，合法经营并具有良好信誉的公司，具有合法的权利能力签署并履行本合同项下的义务。
            <br>



            12.2.2 利益冲突
            <br>



            买方签署和履行本合同或与本合同相关的文件将不会
            <br>



            1） 与买方的章程或其他适用于买方的法律法规或判决等相冲突；
            <br>



            2） 与买方同第三方所签署的任何法律文件如保证协议、承诺、合同等中的义务相冲突或导致任何违约，或使卖方的权利受到约束。
            <br>



            12.3  履约保证函
            <br>



            1） 卖方应在收到合同签署后十（10）工作日内，向买方提交合同总金额10%的履约保证函（投标文件商务部分5履约保函（格式））。
            <br>



            2） 在本合同规定的质保期满后，买方将把履约保证函退还卖方。
            <br>



            违约与赔偿责任
            <br>



            13.1交付违约
            <br>



            卖方应在合同所规定的时间内完成和交付本合同规定的项目。如因卖方原因开发工作延时，买方同意给予卖方7个工作日的宽限期，宽限期内不追究卖方的违约责任。如卖方在宽限期内仍未依据本合同的规定完成和交付本合同所规定的项目，买方有权要求卖方补偿和采取补救措施，并继续履行本合同所规定的义务。违约金的具体确定方式为：
            <br>



            1）由于卖方原因，上线试运行、终验各个里程碑节点，每延期5个工作日，卖方应向买方支付合同总价2 %的违约金，但违约金的总数不超过合同总价的10%。
            <br>



            2）由于卖方原因，如延期时间超过100天，买方有权终止合同，除前款所约定的违约金外，并要求卖方支付合同总价的10%作为对买方的赔偿。
            <br>



            卖方赔偿责任
            <br>



            如由于卖方的过失或其他责任，买方要求卖方赔偿，则卖方承担的责任限于以下范围：
            <br>



            1）上文“知识产权及使用权”条款中所述的款项；
            <br>



            2）人身伤害（包括死亡）的损害赔偿及对有形动产和不动产的损害赔偿；
            <br>



            3）其他实际直接损害赔偿额达人民币100,000元，或规定已支付的金额或已到期应向卖方支付的金额（如属按期收费，则适用12个月的收费），以较高者为限。
            <br>



            以上限额也适用于卖方的任何承包商或关联公司。该限额是卖方、其关联公司及其承包商须共同承担的最高责任限额。
            <br>



            13.4侵权行为处理
            <br>



            如由于卖方的任何不实陈述或保证、违反本合同项下的义务或对于他方的侵权行为或违约行为（包括但不限于卖方对项目所享有的知识产权、所有权、或其他权利的瑕疵）、导致买方面临任何第三方的索赔、诉讼或仲裁等要求，或使买方因此遭受任何名誉、声誉或经济上的直接或间接损失，卖方均应当采取适当的措施（包括但不限于与该第三方协调解决纠纷、在相关索赔要求、诉讼或仲裁中作为当事人、第三人或者证人、或者作证、或者赔偿甲方因此而遭受任何名誉、声誉或经济上的、直接或间接损失），以保证买方免受上述索赔、诉讼或仲裁等要求的任何影响。
            <br>



            13.5需求功能不完善违约追究
            <br>



            招标技术规范所涉及、描述的需求功能，卖方开发平台未达到买方要求的，每项需求扣除相应阶段费用总额的1%，并在后一开发阶段继续完善需求功能，直至满足买方要求。最终平台仍未达到买方需求要求，扣除合同总额30%。
            <br>



            13.6 违约事件处理
            <br>



            如发生违约事件，守约方要求违约方支付违约金时，应以书面方式通知违约方，内容包括违约事件、违约金、支付时间和方式等。违约方在收到上述通知后，应于30个工作日内答复对方，并支付违约金。如双方不能就此达成一致意见，将按照本合同所规定的争议解决条款解决双方的纠纷，但任何一方不得采取非法手段或以损害本项目的方式实现违约金。
            <br>



            税费
            <br>



            14.1.中国政府根据现行税务法规向买方征收的与履行本合同有关的一切税费均由买方支付。
            <br>



            14.2.中国政府根据现行税务法规向卖方征收的与履行本合同有关的一切税费均由卖方支付。
            <br>



            14.3.发生在中国大陆地区外的与履行本合同有关的一切税费，由卖方支付。
            <br>



            第三方法律纠纷
            <br>



            卖方须保障买方在使用其提供的货物、服务及其任何部分时不受到第三方提出关于侵犯知识产权以及非法使用等方面的法律指控。任何第三方如果提出这样的指控，卖方须与第三方交涉并承担由此而引起的一切法律责任和费用，与买方无关，买方不承担由此引起的任何法律责任。若买方因使用卖方提供的产品而遭受侵权认定承担的费用，包括但不限于向第三方的赔偿费用、诉讼费用和律师费应由卖方承担。卖方在买方遭受侵权指控时应积极为买方提供证据并采取必要措施停止侵害，并在买方被判定停止使用侵权产品以前，为买方使用该产品向权利人支付许可使用费，如不能获得使用许可，应为卖方提供替代产品，如不能提供可行的替代产品，卖方应承担买方因此遭受的损失，如损失无法计算，按本合同标的额赔偿。
            <br>



            合同变更
            <br>



            本合同一经签署，未经双方同意，任何一方不得随意更改本合同。本合同所列的附件、技术方案、验收标准等文件，经双方签字后为本合同的组成部分。其它任何口头或未包含在本合同内的，或未依据本合同制定的书面文件，均不对双方发生约束力。如本合同在履行过程中有任何变更、补充或修改，双方应另行签订书面协议。
            <br>



            合同义务的转让
            <br>



            除非得到买方和用户事先书面同意，卖方不得部分转让或全部转让其履行合同的义务。
            <br>



            适用法律
            <br>



            本合同适用中华人民共和国法律。
            <br>



            语言和计量单位
            <br>



            19.1合同书应为中文。买卖双方所有的来往函电以及与合同有关的文件均以中文书写（特殊规定除外）。
            <br>



            19.2 除非技术规格另有规定，计量单位均为中华人民共和国法定计量单位。
            <br>



            合同文件及资料的使用
            <br>



            除了卖方为执行合同所雇人员外，在未经买方同意的情况下，卖方不得将合同、合同中规定、有关规格、计划、图纸、式样、样本或买方为上述内容向卖方提供的资料透露给任何人。
            <br>



            履约保证金或履约保函
            <br>



            21.1 履约保证金或履约保函用于补偿买方因卖方不能完成其合同义务而蒙受的损失。
            <br>



            21.2 履约保证金应以人民币用下述方式提交：
            <br>



            金额为合同总价10%的银行保函，由买方可接受的银行提交。
            <br>



            风险责任的承担
            <br>



            22.1在本合同履行中，因卖方的原因或出现在现有技术水平和条件下难以克服的技术困难，导致研究开发失败或部分失败， 卖方应当在发现技术风险存在并有可能致使研究开发失败或部分失败之日起10个工作日内书面通知买方并采取适当措施减少损失；
            <br>



            22.2当事人一方发现可能致使研究开发失败或者部分失败的情形时，应当及时通知另一方并采取适当措施减少损失。没有及时通知并采取适当措施，致使损失扩大的，应按合同约定承担违约责任。
            <br>



            综合条款
            <br>



            23.1如本合同附件中的条款或本合同签署之前所签署的任何文件与本合同的条款相冲突或不一致，以本合同为准。
            <br>



            23.2不可抗力
            <br>



            23.2.1由于地震、台风、水灾、火灾、战争以及其他不能预见并对其发生和后果不能预防、不能克服或避免的不可抗力，直接影响本合同的履行或者不能按照合同的约定履行时，遇有上述不可抗力的一方可以免除相关合同责任。但遇有上述不可抗力的一方应立即书面通知对方，并在15天之内提供不可抗力的详细情况及合同不能履行，或者部分不能履行，或者需要延期履行的理由和有效的证明文件。按不可抗力对履行合同影响的程度，由双方协商决定是否解除合同，或者部分免除履行合同的义务，或者延期履行合同。一方迟延履行本合同时发生不可抗力的，迟延方的合同义务不能免除。
            <br>



            23.2.2受到不可抗力影响的一方，应尽可能地采取合理的行为和适当的措施减轻不可抗力对本合同的履行所造成的影响。没有采取适当措施致使损失扩大的，该方不得就扩大损失的部分要求免责或赔偿。
            <br>



            争议解决
            <br>



            24.1如果合同双方在履行本合同过程中发生争议，双方应首先采取友好协商的方式解决该争议。如经协商仍不能达成一致，合同争议的解决方式：诉讼。
            <br>



            24.2诉讼地点：北京市石景山区人民法院。
            <br>



            通知
            <br>



            25.1为享有本合同所规定的权利及履行本合同所规定的义务或有关违约交涉而需通知另一方时，通知方应采取书面形式，以挂号信件或以专人快递送达方式送达被通知方，送达生效。
            <br>



            25.2通知地址
            <br>



            通知的地址为：
            <br>



            买方：北京市石景山区银河大街6号院1号楼A座1402      (邮编:) 100043
            <br>



            卖方：广东省珠海市科技创新海岸远光软件园              (邮编:) 519085
            <br>



            如一方欲改变通知地址，应提前以书面方式通知另一方。
            <br>



            合同的生效、变更与终止
            <br>



            26.1本合同经双方各自指定的代表人签署和盖章后生效。
            <br>



            26.2如发生以下情况，任何一方有权终止合同，但须以书面方式通知对方：
            <br>



            1）一方进入破产、撤销或已进入清算阶段，或被解散、被依法关闭；
            <br>



            2）一方财务状况严重恶化，不能支付到期债务；
            <br>



            3）出现了合同规定的或法定解除事由。
            <br>



            除本合同和法律法规另有规定外，任何一方发生上述情况，另一方有权依照本合同的规定终止本合同，如一方违约，另一方有权追究该方的违约责任。
            <br>



            26.3如果任何一方重大违反本合同的任何条款，同时在接到要求其采取补救措施的书面通知三十天内而未进行补救（或无法切合实际地在此期限内进行补救；或在上述三十天内未采取合理措施对该违约行为进行补救），则另一方可以通过书面通知终止本合同，并即时生效。
            <br>



            26.4本合同一经签署，未经双方同意，任何一方不得随意更改本合同。本合同所列的附件、技术方案、验收标准等文件，经双方签字后为本合同的组成部分。其它任何口头或未包含在本合同内的，或未依据本合同制定的书面文件，均不对双方发生约束力。如本合同在履行过程中有任何变更、补充或修改，双方应另行签订书面协议。
            <br>



            其它
            <br>



            27.1买方所需的软件及服务，如愿意继续向卖方购买的，则卖方应保证其供应的价格不得高于、服务水平不得低于本合同规定的标准和要求，并另行签订合同。
            <br>



            27.2本项目中的软件平台分项报价表、系统实施、建设或开发费用（含质保期内运维费用）分项价格表、技术服务报价表、履约保函（格式）、技术方案、培训方案、实施方案、设备配置清单，作为主合同的附件。
            <br>



            27.3本项目招、投标文件及相关澄清文件均作为合同的组成部分，不一致之处以本合同为准。
            <br>



            附件1：保密协议
            <br>



            保 密 协 议
            <br>



            买方：中国水利电力物资集团有限公司
卖方：远光软件股份有限公司
            <br>



            鉴于：
            <br>



            1．卖方因参与买方关于基于NLP的商务文本数据清洗关键技术研究项目的有关工作，已经（或将要）知悉买方关于该项目的商业秘密。
            <br>



            2．双方均希望对本协议所述保密资料及信息予以有效保护。
            <br>



            3.为了明确卖方的保密义务，甲、乙双方本着平等自愿、公平诚信的原则，依据《中华人民共和国合同法》、《中华人民共和国反不正当竞争法》订立本保密协议。
            <br>



            第一条 保密资料及信息
            <br>



            （一）保密资料及信息是指不为公众所知，又能为其权利人带来经济利益并经权利人采取保密措施的资料及信息，包括但不限于卖方从买方获得的与项目有关或因项目产生的任何商业、营销、技术、运营数据或其他性质的资料，无论以何种形式或载于何种载体，无论在获得时是否以口头、图像或以书面方式表明其具有保密性的资料和信息。
            <br>



            （二）保密资料及信息包括但不限于如下范围：
　　1．技术信息：包括技术方案、设计要求、服务内容、实现方法、运作流程、技术指标、软件系统、数据库、运行环境、作业平台、测试结果、图纸、样本、模型、使用手册、技术文档、涉及技术秘密的业务函电等等；
　　2．经营信息：包括客户名称、客户地址及联系方式、需求信息、营销计划、采购资料、定价政策、进货渠道、产销策略、招投标中的标底及标书内容、项目组人员构成、费用预算、利润情况及不公开的财务资料等等；
　　3．其他事项：买方依照法律规定（如通过与项目对方当事人缔约）和有关协议（如技术合同等）的约定要求卖方承担保密义务的其他事项。
    （三）书面的保密资料及信息以经过双方指定的签收人签收，并注明“秘密”字样的资料和信息为准。
            <br>



            第二条 保密义务
            <br>



            卖方应当履行下列保密义务：
            <br>



            （一）严守机密，并采取所有保密制度和措施，切实保护该秘密(包括但不限于卖方为保护其保密资料及信息所采取的措施和制度)；
            <br>



            （二）不泄漏任何保密资料及信息给第三方；
            <br>



            （三）除用于履行上述的业务之外，均不得利用该保密资料及信息；
            <br>



            （四）不以其他非法方式使用该保密资料及信息，但是，复制保密资料及信息应当征得提供方的书面同意;
            <br>



            （五）卖方应当与能接触该保密资料及信息的中介机构等第三方签订一份保密协议，该协议的实质内容应以本协议为蓝本。但是，向中介机构提供保密资料及信息时应当征得买方的书面同意。
            <br>



            （六）不得刺探或者以其他不正当手段（包括利用计算机进行检索、浏览、复制等）获取与本职工作或本身业务无关的买方关于该项目的商业秘密；
    （七）不得允许（包括出借、赠与、出租、转让等行为）或协助不承担同等保密义务的任何第三人使用买方关于该项目的商业秘密；
    （八）该项目的商业秘密所有权始终全部归属买方，卖方不得利用自身对项目不同程度的了解申请对于该项目的商业秘密所有权，在本协议签订前卖方已依法具有某些所有权者除外；
    （九）如发现买方关于该项目的商业秘密被泄露或者自己过失泄露秘密，应当采取有效措施防止泄密进一步扩大。
 第三条 例外约定
            <br>



            保密资料及信息不适用于下列情形：
            <br>



            （一）该保密资料及信息已经或正在变成同业竞争者可以获取的资料；
            <br>



            （二）能书面证明一方从另一方收到保密资料及信息之前已经获得该保密资料及信息；
            <br>



            （三）由第三方合法提供的资料；
            <br>



            （四）其他依法履行职责的情况。
            <br>



            第四条 保密资料及信息的返还
            <br>



            只要买方有正当理由提出返还保密资料及信息的书面要求，卖方应立即归还全部保密资料及信息，包括该保密资料及信息的媒体及其任何或全部复印或摘要。如果该保密资料及信息属于不能归还的形式、或已经复制或转录到其他资料或载体中，应当删除。
            <br>



            第五条 违约和赔偿
（一）卖方有违反本协议的情形，无论故意与过失，应当立即停止侵害，并在第一时间采取一切必要措施防止保密资料及信息的扩散，尽最大可能消除影响，并及时向买方报告;
            <br>



            （二）赔偿
            <br>



            1.如果卖方未履行本协议第二条所规定的保密义务，但尚未给买方造成损失或严重后果的应当承担已发生的投资费用的3％的违约罚款；
　　2．如果因为卖方前款所称的违约行为造成买方的损失或严重后果的，卖方应当承担违约责任，损失赔偿见本条第3项所列。
　　3．本条第2项所述损失赔偿包括：
　　a．损失赔偿额为卖方支付不低于买方就该项目商业秘密已发生的投资费用的20％作为损失赔偿额；
　　c．买方因调查卖方的违反协议行为而支付的合理费用；
　　d．因卖方的违反协议行为侵犯了买方关于该项目的商业秘密权利，买方可以选择根据本协议要求卖方承担违约责任，或者根据国家有关法律、法规要求卖方承担侵权责任。
卖方违反本协议的规定，应承担违约责任，卖方应向买方支付违约金，违约金的具体数额由双方协商确定;
            <br>



            （三）上述违约金数额并不影响受买方向卖方要求损害赔偿。该赔偿以受损害方遭受的实际损失为限。
第六条 本协议的生效及有效期
            <br>



            本协议自双方签字并加盖公章或合同专用章之日起生效。
            <br>



            第七条 法律适用
            <br>



            本协议的订立、效力、解释、执行和争议的解决，均适用中华人民共和国法律。
            <br>



            第八条 争议解决
            <br>



            与本协议有关的任何争议，可以由双方协商解决或者共同委托双方信任的第三方调解;协商、调解不成或者一方不愿意协商、调解的，任何一方都有提起诉讼的权利。
第九条 其他约定
            <br>



            （一）对本协议任何条款进行修改，均应以书面形式作出,并经双方当事人各自的合法授权代表签署，否则无效；
            <br>



            （二）任何一方不得将本协议项下的权利和义务转让给第三方，但获得对方书面同意的除外；
            <br>



            （三）本协议的任何条款的无效，均不影响本协议其他条款的效力；
            <br>



            （四）对于交换的资料，应列出清单，办理相关交接手续，并由指定的签收人签收；
            <br>



            （五）资料签收人：
            <br>



            买方：田宇                             卖方：李研
            <br>



            买方联系电话：010-68777569             卖方联系电话：0756-6298888
            <br>



            买方（公章或合同专用章）：      卖方（公章或合同专用章）：
            <br>



            法定代表人或授权代表（签字）         法定代表人或授权代表（签字）
            <br>



            签字日期：     年   月   日             签字日期：    年   月   日
            <br>


</body>
</html>